= render partial: "title_bar"
.TopPage
  .Header
    .CatchCopy
      .CatchCopy__textWrapper
        .CatchCopy__textWrapper--main その1秒で味が変わる!?
        .CatchCopy__textWrapper--sub
          美味しい紅茶を
          %br 探究するためのアプリ

  .ContentsArea
    %h1 〜機能紹介〜
    .Content
      .Content__name 1. My紅茶登録
      .Content__box
        = image_tag 'tea2.png', alt: '紅茶のアイコン', class: 'Content__box--image' 
        .Content__box--text 紅茶の名前、茶葉の種類、フレーバーの有無等を登録しよう！今まで君が飲んだ紅茶を確認できるよ！
    .Content 
      .Content__name 2. 蒸らしタイマー
      .Content__box.reverse
        = image_tag 'clock.png', alt: 'タイマーのアイコン', class: 'Content__box--image' 
        .Content__box--text 紅茶の種類、人数などに応じて最適な蒸らし時間、お湯の量、茶葉の量を提案します！好みの時間を探究しよう！
    .Content 
      .Content__name 3. 紅茶ログ
      .Content__box
        = image_tag 'note.png', alt: 'タイマーのアイコン', class: 'Content__box--image' 
        .Content__box--text 淹れた時間などをログとして残そう！入れた条件を評価しよう!
  - unless user_signed_in?
    = link_to "はじめる", new_user_registration_path, class: "StartBtn"
  - else
    = link_to "はじめる", new_my_tea_path, class: "StartBtn"
    .FotterArea

