= render partial: "tops/title_bar"

.hoge
  .FormArea
    .FormArea__title
      .removeBtn= icon("fas", "times")
      %h2 ログを編集
    = form_with(model: [@my_tea, @drop_condition], local: true) do |f|
      #FormItemBox
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :time, "蒸らし時間"
          %dd.FormItem__detail
            = f.text_field :time, {id: "form_time"}
            %span 秒
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :water_quantity, "湯量"
          %dd.FormItem__detail
            = f.text_field :water_quantity, {id: "form_water_quantity"}
            %span 秒
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :leaf_quantity, "茶葉量"
          %dd.FormItem__detail
            = f.text_field :leaf_quantity, {id: "form_leaf_quantity"}
            %span 秒
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :number_of_people, "人数"
          %dd.FormItem__detail
            = f.text_field :number_of_people, {id: "form_number_of_people"}
            %span 人
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :tea_type_id, "飲み方"
          %dd.FormItem__detail
            = f.collection_select(:tea_type_id, @tea_types, :id, :name, {prompt: "選択してください"}, {id: "form_tea_type"})
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :temperature, "温度"
          %dd.FormItem__detail
            = f.text_field :temperature,{value: "100"}
            %span ℃
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :evalution, "評価(1-10点)"
          %dd.FormItem__detail
            = f.text_field :evalution
            %span 点
      .FormItem
        = f.text_field :note,{placeholder: "メモ", class: "FormItem__memo"}
      .FormItem
        %p.FormItem__btn
          = f.submit "登録"

