= render partial: "tops/title_bar"

.DropConditionEditPage
  .FormArea
    .FormArea__title
      %h2 ログを編集
      = link_to :back, {class: "FormArea__title--back"} do
        = icon("fas", "chevron-circle-left")
    = form_with(model: [@my_tea, @drop_condition], local: true) do |f|
      #FormItemBox
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :time, "蒸らし時間"
            - if @drop_condition.errors.include?(:time)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.text_field :time, {id: "form_time"}
            %span 秒
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :water_quantity, "湯量"
            - if @drop_condition.errors.include?(:water_quantity)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.text_field :water_quantity, {id: "form_water_quantity"}
            %span ml
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :leaf_quantity, "茶葉量"
            - if @drop_condition.errors.include?(:leaf_quantity)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.text_field :leaf_quantity, {id: "form_leaf_quantity"}
            %span g
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :number_of_people, "人数"
            - if @drop_condition.errors.include?(:number_of_people)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.text_field :number_of_people, {id: "form_number_of_people"}
            %span 人
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :tea_type_id, "飲み方"
            - if @drop_condition.errors.include?(:tea_type_id)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.collection_select(:tea_type_id, @tea_types, :id, :name, {prompt: "選択してください"}, {id: "form_tea_type"})
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :temperature, "温度"
            - if @drop_condition.errors.include?(:temperature)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.text_field :temperature
            %span ℃
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :evaluation, "評価(1-5点)"
            - if @drop_condition.errors.include?(:evaluation)
              %span 不適切な値です
          %dd.FormItem__detail
            = f.text_field :evaluation
            %span 点
      .FormItem
        = f.text_field :note,{placeholder: "メモ", class: "FormItem__memo"}
      .FormItem
        %p.FormItem__btn
          = f.submit "登録"

