.Card
  %h2=  my_tea.product_name
  = link_to edit_my_tea_path(my_tea.id) do
    = icon("fas", "pencil-alt")
  .Card__detail
    - if my_tea.my_tea_images.length != 0 
      = image_tag "#{my_tea.my_tea_images.first.url}", alt: 'My紅茶', height: '140', width: '140', class: 'Card__detail--image'
    - else
      = image_tag 'sample/remon_tea.png', alt: 'My紅茶', height: '140', width: '140', class: 'Card__detail--image'
    .Card__detail--text
      %dl
        %dt= icon("far", "building")
        %dd= my_tea.campany

      %dl
        %dt= icon("fab", "envira")
        %dd= my_tea.leaf_type.name

      %dl
        %dt= icon("fas", "globe-europe")
        %dd= my_tea.origin

      %dl
        %dt= icon("far", "lemon")
        %dd= my_tea.flavor

  .Card__btn
    .Card__btn--text.my_tea_log{data: {index: "#{my_tea_counter}"}} 履歴
    = link_to "淹れる", new_my_tea_drop_condition_path(my_tea.id),{class: "Card__btn--text"}
  
