= render partial: "tops/title_bar"

.MyTeaRegistrationPage
  .FormArea
    = form_with model: @my_tea, local: true do |f|
      .FormImage
        #Previews
          - if @my_tea.persisted?
            - @my_tea.my_tea_images.each_with_index do |image, i|
              .Preview
                = image_tag image.url.to_s, data: { index: i } ,height: '140', width: '140'
                .Preview__removeBtn= icon("far", "times-circle")
          = f.fields_for :my_tea_images do |i|
            %label.FileWrapper{data: {index: i.index}}
              = icon("fas", "camera-retro")
              = i.file_field :url, class: 'FileWrapper__uploader'
            - if @my_tea.persisted?
              = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'
          - if @my_tea.persisted?
            %label.FileWrapper{data: {index: @my_tea.my_tea_images.count}}
              = icon("fas", "camera-retro")
              = file_field_tag :url, name: "my_tea[my_tea_images_attributes][#{@my_tea.my_tea_images.count}][url]", class: 'FileWrapper__uploader'

      .FormItem
        = f.text_field :product_name, {class: "FormItem__detail", placeholder: "商品名 [必須]"}
        = icon("fab", "envira")
      - if @my_tea.errors.include?(:product_name)
        .FormItem__error_message 商品名を入力してください
      .FormItem
        = f.text_field :campany, {class: "FormItem__detail", placeholder: "会社名"}
        = icon("far", "building")
      .FormItem
        = f.collection_select(:leaf_type_id, LeafType.all, :id, :name, {prompt: "茶葉の種類を選択 [必須]"}, {class: "FormItem__detail"})
        = icon("far", "hand-pointer")
      - if @my_tea.errors.include?(:leaf_type_id)
        .FormItem__error_message 茶葉の種類を選択を入力してください
      .FormItem
        = f.text_field :origin, {class: "FormItem__detail", placeholder: "産地"}
        = icon("fas", "globe-europe")
      .FormItem
        = f.text_field :flavor, {class: "FormItem__detail", placeholder: "フレーバー"}
        = icon("far", "lemon")
      %p.FormItem__btn
        = f.submit "変更する"
    = link_to "削除する", my_tea_path, id: "MyTeaDeleteBtn", method: :delete


- if @my_tea.errors.include?(:leaf_type_id)
  .FormItem__error_message 茶葉の種類を選択を入力してください