= render partial: "tops/title_bar"
.MyPage 
  .MyTeasArea
    %h1 ---- My紅茶 ----
    .MyTeaCards
      = render partial: "my_tea_card", collection: @my_teas, as: "my_tea"

.DropConditionLists
  .ListWrapper
    .List
      %dl.List__evaluation
        %dt.List__detail.List__evaluation--detail 100
        %dd.List__label.List__evaluation--label 評価
      %dl
        %dd.List__label= icon("fas", "hourglass-start")
        %dt.List__detail 100
      %dl
        %dd.List__label= icon("fas", "tint")
        %dt.List__detail 150 ml
      %dl
        %dd.List__label= icon("fab", "envira")
        %dt.List__detail 2.5 g
      %dl
        %dd.List__label= icon("fas", "coffee")
        %dt.List__detail#List__teaType ミルクティー
      %dl
        %dd.List__label= icon("fas", "users")
        %dt.List__detail hoge
      %dl
        %dd.List__label= icon("fas", "temperature-high")
        %dt.List__detail 100 ℃
    %dl.MemoArea
      %dd.MemoArea__label= icon("far", "comment-dots")
      %dt.MemoArea__detail hogegeghoooooooooooooooooo000paschhhhhhkabcjksabxkjsabxksabckjzbckjasbc