= render partial: "tops/title_bar"

.MyTeaRegistrationPage
  .FormArea
    = form_with model: @my_tea, local: true do |f|
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :product_name, "商品名"
            %span.required 必須
          %dd.FormItem__detail
            = f.text_area :product_name
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :campany, "会社名"
          %dd.FormItem__detail
            = f.text_field :campany
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :leaf_type, "茶葉の種類"
            %span.required 必須
          %dd.FormItem__detail
            = f.collection_select(:leaf_type_id, LeafType.all, :id, :name, {prompt: "選択してください"}, {})
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :origin, "産地"
          %dd.FormItem__detail
            = f.text_field :origin
      .FormItem
        %dl
          %dt.FormItem__label
            = f.label :flavor, "フレーバー"
          %dd.FormItem__detail
            = f.text_field :flavor
      .FormItem
        %p.FormItem__btn
          = f.submit "登録する"