= render partial: "tops/title_bar"

.MyTeaRegistrationPage
  .FormArea
    = form_with model: @my_tea, local: true do |f|
      .FormImage
        #Previews
          = f.fields_for :my_tea_images do |i|
            %label.FileWrapper
              = icon("fas", "camera-retro")
              = i.file_field :url, class: 'FileWrapper__uploader'
      .FormItem
        = f.text_field :product_name, {class: "FormItem__detail", placeholder: "商品名 [必須]"}
        = icon("fab", "envira")
      .FormItem
        = f.text_field :campany, {class: "FormItem__detail", placeholder: "会社名"}
        = icon("far", "building")
      .FormItem
        = f.collection_select(:leaf_type_id, LeafType.all, :id, :name, {prompt: "茶葉の種類を選択 [必須]"}, {class: "FormItem__detail"})
        = icon("far", "hand-pointer")
      .FormItem
        = f.text_field :origin, {class: "FormItem__detail", placeholder: "産地"}
        = icon("fas", "globe-europe")
      .FormItem
        = f.text_field :flavor, {class: "FormItem__detail", placeholder: "フレーバー"}
        = icon("far", "lemon")
      %p.FormItem__btn
        = f.submit "登録する"