= render partial: "tops/title_bar"
.MyPage 
  = render partial: "my_teas/side_nav"

  .UserEditPage
    %h1.head-name 会員情報変更
    .FormArea
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .FormItem
          %dl
            %dt.FormItem__label
              = f.label :nickname,"ニックネーム"
            %dd.FormItem__detail
              = f.text_field :nickname, autofocus: true
        .FormItem
          %dl
            %dt.FormItem__label
              = f.label :email
            %dd.FormItem__detail
              = f.email_field :email, autofocus: true, autocomplete: "email"
        .FormItem
          %dl
            %dt.FormItem__label
              = f.label :password,"新しいパスワード"
              - if @minimum_password_length
                %em
                  (#{@minimum_password_length} 文字以上)
            %dd.FormItem__detail
              = f.password_field :password, autocomplete: "new-password", placeholder: '半角英数字'
        .FormItem
          %dl
            %dt.FormItem__label
              = f.label :password_confirmation,"パスワード再確認"
            %dd.FormItem__detail
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '半角英数字'
        .FormItem
          %dl
            %dt.FormItem__label
              = f.label :current_password,"現在のパスワード"
            %dd.FormItem__detail
              = f.password_field :current_password, autocomplete: "current-password", placeholder: '半角英数字',required: true
        .FormItem 
          %p.FormItem__btn
            = f.submit "変更する"
